@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
        &_subheader
            font-size: 32px
    .reasons
        &_item
            align-items: flex-start
    .app
        &_item
            width: 300px
    .map
        min-height: 622px
    .footer_upper_menu
        padding: 0 300px
    .footer_lower_menu
        padding: 0 290px